body {
    font-family: Arial, sans-serif; /* Cambio de fuente */
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.formulario {
    width: 400px;
}
/* Estilos para el botón */
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 25px; /* Hacer el botón más redondeado */
    font-size: 18px;
    padding: 12px 30px; /* Aumentar el espacio alrededor del texto */
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.invalid-feedback {
    display: block;
    color: #dc3545;
    margin-top: .25rem;
}